<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="/create-todo" method="post">
      <input type="text" name="title" id="title" placeholder="enter title" />
      <input type="submit" value="submit" />
    </form>
    <hr />
    <h3>remaining todos: <span><%= remainingTodos  %></span></h3>
    <h3>completed todos: <span><%= completedTodos %></span></h3>
    <h1>Saved Todos:</h1>
    <% if (todos.length > 0) { %>
    <ul>
        <% todos.forEach(todo => { %>
         <% if (todo.completed) { %>
            <del>
                <li>
                  <%= todo.title %>
                  <a href="/delete-todo/<%= todo.id %>">delete</a>
                </li>
              </del>
         <% }else{ %>
            <li>
                <%= todo.title %>
                <a href="/delete-todo/<%= todo.id %>">delete</a>
                <a href="/complete-todo/<%= todo.id %>">completed</a>
              </li>
        <% } %>
        <% }) %>
    </ul>
    <% }else{ %>
    <h2>no todos available</h2>
    <% } %>
    <script defer src="js/index.js"></script>
  </body>
</html>
